*nbproject/private/
*build/
*nbproject/private/
*build/

*class

*build.xml
*manifest.mf

*manifest.mf
*manifest.mf
*build/classes/.netbeans_automatic_build
atividade01/SW-181-Pratica1.zip
*build.xml
*manifest.mf
*build/classes/.netbeans_update_resources
*nbproject/build-impl.xml
*nbproject/genfiles.properties
*nbproject/project.properties
*nbproject/project.xml
*nbproject/private/private.properties
*nbproject/private/private.xml
